.about-main{
    display: flex;
}

#img-about-2{
    position: absolute;
    width: 50%;
    top: 5rem;
    left: 16vw;
    aspect-ratio: 9/12;
}

#img-about-1{
    position: absolute;
    top: 5rem;
    left: 0;
}

#img-about-3{
    position: absolute;
    top: 23rem;
    left: 0;
}

#img-about-4{
    position: absolute;
    top: 40rem;
    left: 19vw;
}


.about-main .about-images{
    width: 50vw;
    position: relative;
}

.about-main .about-text{
    width: 50vw;
    padding: 5rem;
}


.about-text-list{
    width: 80%;
}



.about-text-heading{
    color: #2D2D2D;
    font-weight: bold;
    font-size: 3rem;
    margin: 2rem 0;
    margin-top: 0;
}

.about-text-subhead{
    color: #545454 ;
    width: 70%;
    margin: 3rem 0;
}






